USE [master]
GO

CREATE DATABASE [UFANET]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UFANET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UFANET]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 01.11.2025 2:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[middle_name] [varchar](50) NULL,
	[phone] [varchar](20) NOT NULL,
	[birthday] [date] NULL,
	[email] [varchar](100) NULL,
	[address] [text] NOT NULL,
	[passport_data] [varchar](100) NULL,
	[registration_date] [date] NOT NULL,
	[photo] [varchar](255) NULL,
 CONSTRAINT [PK__Clients__BF21A4244764630F] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 01.11.2025 2:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[tariff_id] [int] NOT NULL,
	[contract_number] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[status] [varchar](20) NOT NULL,
	[monthly_payment] [decimal](10, 2) NOT NULL,
	[days_remaining]  AS (case when [end_date] IS NULL then NULL else datediff(day,getdate(),[end_date]) end),
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 01.11.2025 2:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_date] [datetime] NOT NULL,
	[payment_method] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 01.11.2025 2:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [varchar](100) NOT NULL,
	[service_type] [varchar](50) NOT NULL,
	[description] [text] NULL,
	[base_price] [decimal](10, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tariffs]    Script Date: 01.11.2025 2:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariffs](
	[tariff_id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[tariff_name] [varchar](100) NOT NULL,
	[speed_mbps] [int] NULL,
	[channel_count] [int] NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tariff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([client_id], [last_name], [first_name], [middle_name], [phone], [birthday], [email], [address], [passport_data], [registration_date], [photo]) VALUES (1, N'Иванов', N'Алексей', N'Петрович', N'+7(912)345-67-89', CAST(N'1996-11-17' AS Date), N'ivanov@mail.ru', N'г. Москва, ул. Ленина, д.10, кв.5', N'4510 123456', CAST(N'2020-01-15' AS Date), N'ivanov_1.jpg')
INSERT [dbo].[Clients] ([client_id], [last_name], [first_name], [middle_name], [phone], [birthday], [email], [address], [passport_data], [registration_date], [photo]) VALUES (2, N'Петрова', N'Мария', N'Ивановна', N'+7(912)345-67-90', CAST(N'1980-03-06' AS Date), N'petrova@mail.ru', N'г. Москва, ул. Пушкина, д.15, кв.12', N'4510 123457', CAST(N'2020-02-20' AS Date), N'petrova_2.jpg')
INSERT [dbo].[Clients] ([client_id], [last_name], [first_name], [middle_name], [phone], [birthday], [email], [address], [passport_data], [registration_date], [photo]) VALUES (3, N'Сидоров', N'Дмитрий', N'Сергеевич', N'+7(912)345-67-91', CAST(N'1992-04-27' AS Date), N'sidorov@mail.ru', N'г. Москва, пр. Мира, д.20, кв.3', N'4510 123458', CAST(N'2020-03-10' AS Date), N'sidorov_3.jpg')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([contract_id], [client_id], [tariff_id], [contract_number], [start_date], [end_date], [status], [monthly_payment]) VALUES (1, 2, 1, N'ДГ-2020-0001', CAST(N'2020-01-20' AS Date), CAST(N'2026-01-20' AS Date), N'Расторгнут', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Contracts] ([contract_id], [client_id], [tariff_id], [contract_number], [start_date], [end_date], [status], [monthly_payment]) VALUES (2, 2, 4, N'ДГ-2020-0002', CAST(N'2020-02-25' AS Date), CAST(N'2026-02-25' AS Date), N'Активен', CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[Contracts] ([contract_id], [client_id], [tariff_id], [contract_number], [start_date], [end_date], [status], [monthly_payment]) VALUES (3, 3, 7, N'ДГ-2020-0003', CAST(N'2020-03-15' AS Date), CAST(N'2026-03-15' AS Date), N'Активен', CAST(700.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([payment_id], [contract_id], [amount], [payment_date], [payment_method], [status]) VALUES (13, 1, CAST(500.00 AS Decimal(10, 2)), CAST(N'2023-01-05T10:00:00.000' AS DateTime), N'Карта', N'Успешно')
INSERT [dbo].[Payments] ([payment_id], [contract_id], [amount], [payment_date], [payment_method], [status]) VALUES (14, 1, CAST(500.00 AS Decimal(10, 2)), CAST(N'2023-02-05T10:00:00.000' AS DateTime), N'Карта', N'Успешно')
INSERT [dbo].[Payments] ([payment_id], [contract_id], [amount], [payment_date], [payment_method], [status]) VALUES (15, 1, CAST(500.00 AS Decimal(10, 2)), CAST(N'2023-03-05T10:00:00.000' AS DateTime), N'Онлайн', N'Успешно')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([service_id], [service_name], [service_type], [description], [base_price], [is_active]) VALUES (1, N'Домашний интернет', N'Интернет', N'Высокоскоростной доступ в интернет', CAST(500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Services] ([service_id], [service_name], [service_type], [description], [base_price], [is_active]) VALUES (2, N'Цифровое ТВ', N'IPTV', N'Пакет из 100 каналов', CAST(300.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Services] ([service_id], [service_name], [service_type], [description], [base_price], [is_active]) VALUES (3, N'Интернет + ТВ', N'Интернет', N'Комплексный пакет интернет+ТВ', CAST(700.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Tariffs] ON 

INSERT [dbo].[Tariffs] ([tariff_id], [service_id], [tariff_name], [speed_mbps], [channel_count], [price]) VALUES (1, 1, N'Стандарт 100', 100, NULL, CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Tariffs] ([tariff_id], [service_id], [tariff_name], [speed_mbps], [channel_count], [price]) VALUES (2, 1, N'Премиум 200', 200, NULL, CAST(900.00 AS Decimal(10, 2)))
INSERT [dbo].[Tariffs] ([tariff_id], [service_id], [tariff_name], [speed_mbps], [channel_count], [price]) VALUES (3, 1, N'Ультра 500', 500, NULL, CAST(1200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Tariffs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__AB6E616434A58D70]    Script Date: 01.11.2025 2:13:25 ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ__Clients__AB6E616434A58D70] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__B43B145FB3B916B7]    Script Date: 01.11.2025 2:13:25 ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ__Clients__B43B145FB3B916B7] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_clients_phone]    Script Date: 01.11.2025 2:13:25 ******/
CREATE NONCLUSTERED INDEX [idx_clients_phone] ON [dbo].[Clients]
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Contract__1CA37CCEE2B3A1A8]    Script Date: 01.11.2025 2:13:25 ******/
ALTER TABLE [dbo].[Contracts] ADD UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_contracts_client]    Script Date: 01.11.2025 2:13:25 ******/
CREATE NONCLUSTERED INDEX [idx_contracts_client] ON [dbo].[Contracts]
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_contracts_status]    Script Date: 01.11.2025 2:13:25 ******/
CREATE NONCLUSTERED INDEX [idx_contracts_status] ON [dbo].[Contracts]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_contract]    Script Date: 01.11.2025 2:13:25 ******/
CREATE NONCLUSTERED INDEX [idx_payments_contract] ON [dbo].[Payments]
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_date]    Script Date: 01.11.2025 2:13:25 ******/
CREATE NONCLUSTERED INDEX [idx_payments_date] ON [dbo].[Payments]
(
	[payment_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tariffs_service]    Script Date: 01.11.2025 2:13:25 ******/
CREATE NONCLUSTERED INDEX [idx_tariffs_service] ON [dbo].[Tariffs]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF__Clients__registr__267ABA7A]  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT ('Активен') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('В обработке') FOR [status]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [fk_client] FOREIGN KEY([client_id])
REFERENCES [dbo].[Clients] ([client_id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [fk_client]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [fk_tariff] FOREIGN KEY([tariff_id])
REFERENCES [dbo].[Tariffs] ([tariff_id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [fk_tariff]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [fk_contract] FOREIGN KEY([contract_id])
REFERENCES [dbo].[Contracts] ([contract_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [fk_contract]
GO
ALTER TABLE [dbo].[Tariffs]  WITH CHECK ADD  CONSTRAINT [fk_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([service_id])
GO
ALTER TABLE [dbo].[Tariffs] CHECK CONSTRAINT [fk_service]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [chk_phone_format] CHECK  (([phone] like '+7([0-9][0-9][0-9])[0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]'))
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [chk_phone_format]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [chk_contract_dates] CHECK  (([end_date] IS NULL OR [end_date]>[start_date]))
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [chk_contract_dates]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [chk_status] CHECK  (([status]='Расторгнут' OR [status]='Приостановлен' OR [status]='Активен'))
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [chk_status]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [chk_amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [chk_amount]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [chk_payment_method] CHECK  (([payment_method]='Онлайн' OR [payment_method]='Банковский перевод' OR [payment_method]='Наличные' OR [payment_method]='Карта'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [chk_payment_method]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [chk_payment_status] CHECK  (([status]='В обработке' OR [status]='Ошибка' OR [status]='Успешно'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [chk_payment_status]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [chk_positive_price] CHECK  (([base_price]>(0)))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [chk_positive_price]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [chk_service_type] CHECK  (([service_type]='Другое' OR [service_type]='IPTV' OR [service_type]='Телефония' OR [service_type]='Интернет'))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [chk_service_type]
GO
ALTER TABLE [dbo].[Tariffs]  WITH CHECK ADD  CONSTRAINT [chk_channels] CHECK  (([channel_count]>(0) OR [channel_count] IS NULL))
GO
ALTER TABLE [dbo].[Tariffs] CHECK CONSTRAINT [chk_channels]
GO
ALTER TABLE [dbo].[Tariffs]  WITH CHECK ADD  CONSTRAINT [chk_speed] CHECK  (([speed_mbps]>(0) OR [speed_mbps] IS NULL))
GO
ALTER TABLE [dbo].[Tariffs] CHECK CONSTRAINT [chk_speed]
GO
ALTER TABLE [dbo].[Tariffs]  WITH CHECK ADD  CONSTRAINT [chk_tariff_price] CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[Tariffs] CHECK CONSTRAINT [chk_tariff_price]
GO
USE [master]
GO
